# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
*.egg-info/
dist/
build/

# Переменные окружения (СЕКРЕТЫ)
.env

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Docker volumes (опционально, чтобы локальные данные БД не тянулись в Git)
postgres_data/